:root {
  --color-grey-lighter: #F9F9F9;
  --color-grey-light: #DFE3E8;
  --color-grey: #C4CDD5;
  --color-grey-dark: #627380;
  --color-grey-darker: #222B35;
  --color-blue-lighter: #E5EFFF;
  --color-blue-light: #69A3FF;
  --color-blue: #3277FE;
  --color-blue-dark: #005CCC;
  --color-blue-darker: #004CA6
  --color-green-lighter: #DDFFCC;
  --color-green-light: #00D082;
  --color-green: #00AE6D;
  --color-green-dark: #00945D;
  --color-red-lighter: #FFF0EB;
  --color-red-light: #E68A8E;
  --color-red: #E6324B;
  --color-red-dark: #CF1946;
  --color-orange: #FF9632;
  --color-yellow-lighter: #FFFBCC;
  --color-yellow-light: #E6D200;
  --color-yellow: #FFEA00;
  --color-yellow-dark: #DBC900;
  --color-yellow-darker: #998C00;
  --color-lightest: #FFFFFF;
  --color-darkest: #333333;
  // LIGHT SPECIFIC COLORS
  --color-primary-light: var(--color-blue-light);
  --color-primary: var(--color-blue);
  --color-required-symbol: var(--color-red);
}

[data-pitsby-demo-color-scheme="dark"] {
  // DARK COLOR SCHEME
  color-scheme dark
  --color-grey-lighter: #0F1217;
  --color-grey-light: #1F242E;
  --color-grey: #3E4859;
  --color-grey-dark: #5B5B67;
  --color-grey-darker: #7B818C;
  --color-green-lighter: #002612;
  --color-green-light: #124025;
  --color-green: #34AE81;
  --color-blue-lighter: #062040;
  --color-blue-light: #1F3D7A;
  --color-blue: #3060BF;
  --color-blue-dark: #6698FF;
  --color-blue-darker: #99BBFF
  --color-red-lighter: #400000;
  --color-red-light: #590000;
  --color-red: #B30909;
  --color-red-dark: #D36969;
  --color-yellow-lighter: #1F1F00;
  --color-yellow-light: #40392C;
  --color-yellow: #C1AA00;
  --color-yellow-dark: #DBC900;
  --color-yellow-darker: #998000;
  --color-orange: #FF9632;
  --color-purple: #A91FDE;
  --color-clay: #DE8E7C;
  --color-lightest: #13161D;
  --color-darkest: #CCCCCC;
  // DARK SPECIFIC COLORS
  --color-primary-light: var(--color-blue-darker);
  --color-primary: var(--color-blue-dark);
  --color-required-symbol: var(--color-red-dark);
}

