@require '_colors'

// COLORS:GREY
$color-grey-lighter   = var(--color-grey-lighter)
$color-grey-light     = var(--color-grey-light)
$color-grey           = var(--color-grey)
$color-grey-dark      = var(--color-grey-dark)
$color-grey-darker    = var(--color-grey-darker)
// COLORS:BLUE
$color-blue-lighter   = var(--color-blue-lighter)
$color-blue-light     = var(--color-blue-light)
$color-blue           = var(--color-blue)
$color-blue-dark      = var(--color-blue-dark)
$color-blue-darker    = var(--color-blue-darker)
// COLORS:GREEN
$color-green-lighter  = var(--color-green-lighter)
$color-green-light    = var(--color-green-light)
$color-green          = var(--color-green)
$color-green-dark     = var(--color-green-dark)
// COLORS:RED
$color-red-lighter    = var(--color-red-lighter)
$color-red-light      = var(--color-red-light)
$color-red            = var(--color-red)
$color-red-dark       = var(--color-red-dark)
// COLORS:YELLOW
$color-yellow-lighter = var(--color-yellow-lighter)
$color-yellow-light   = var(--color-yellow-light)
$color-yellow         = var(--color-yellow)
$color-yellow-dark    = var(--color-yellow-dark)
$color-yellow-darker  = var(--color-yellow-darker)
// COLORS:B&W
$color-lightest       = var(--color-lightest)
$color-darkest        = var(--color-darkest)
// COLORS:PRIMARY
$color-primary-light  = var(--color-primary-light)
$color-primary        = var(--color-primary)

// FONT:SIZE
$font-size-xxxxs = 0.5rem   // 08px
$font-size-xxxs = 0.625rem  // 10px
$font-size-xxs = 0.75rem    // 12px
$font-size-xs = 0.875rem    // 14px
$font-size-sm = 1rem        // 16px
$font-size-md = 1.125rem    // 18px
$font-size-lg = 1.25rem     // 20px
$font-size-xl = 1.5rem      // 24px
$font-size-xxl = 2.25rem    // 36px
$font-size-xxxl = 3rem      // 48px
// FONT:FAMILY
$font-family-primary = 'Inter', Helvetica, Arial, sans-serif

// LAYERS
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// PATHS
$path-images = '/images/'

// BREAKPOINTS
$screen-xs-max = 768px
$screen-sm-min = 769px
$screen-sm-max = 1199px
$screen-md-min = 1200px
$screen-md-max = 1440px
$screen-lg-min = 1441px
