@require '_variables'
@require '_mixins'

theme($background-color, $color, $border-color)
  background-color $background-color
  color $color
  border-color $border-color

.pd-alert
  position relative
  padding 12px
  font-size $font-size-xs
  border-width 1px
  border-style solid
  theme($color-yellow-lighter, $color-yellow-darker, $color-yellow-light)
  border-radius(4px)
  box-sizing(border-box)
  &.pd-alert-danger
    theme($color-red-lighter, $color-red-dark, $color-red-light)
    .pd-alert-trigger
      color $color-red-dark
  &.pd-alert-success
    theme($color-green-lighter, $color-green-dark, $color-green-light)
  &.pd-alert-has-trigger
    padding-right 100px

.pd-alert-trigger
  position absolute
  top 15px
  right 15px
  padding 0
  background-color transparent
  text-transform uppercase
  font-weight 600
  cursor pointer
  border 0
  webkit-appearance(none)
