@require '_variables'
@require '_mixins'

themed-button($text-color, $bg-color, $border-color, $hover-bg-color, $hover-text-color, $hover-border-color)
  background-color $bg-color
  color $text-color
  border-width 1px
  border-style solid
  border-color $border-color
  &:disabled
    background-color $bg-color
    opacity .8
    cursor not-allowed
  +highlight()
    background-color $hover-bg-color
    color $hover-text-color
    border-color $hover-border-color

.pd-button
  padding 0 35px
  font-size $font-size-xs
  font-weight 600
  text-align center
  line-height 40px
  cursor pointer
  border 0
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  themed-button($color-grey-darker, $color-grey-light, $color-grey, $color-grey-lighter, $color-grey-darker, $color-grey-light)
  webkit-appearance(none)
  transition(all, 300ms)
  border-radius(4px)
  box-sizing(border-box)
  unselectable()
  &.pd-button-primary
    themed-button($color-grey-lighter, $color-primary, $color-primary, $color-primary-light, $color-lightest, $color-primary)
  &.pd-button-secondary
    themed-button($color-primary, transparent, $color-primary, $color-blue-lightest, $color-blue-darker, $color-blue-darker)
  &.pd-button-block
    width 100%
