@require '_mixins'

.pd-col
  float left
  padding 0 10px
  box-sizing border-box

for $size in (1..12)
  .pd-col-{$size}
    width ($size/12) * 100%

for $size in (1..11)
  .pd-col-offset-{$size}
    margin-left ($size/12) * 100%

+breakpoint('xs')
  .pd-col
    float left
    width 100%
    & + .pd-col
      margin-top 20px
  [class*=col-offset]
    margin-left 0
