@require '_variables';

.field
  label
    display block
    margin-bottom 5px
    color $color-grey-dark
    font-size $font-size-xxxs
    font-weight 600
    text-transform uppercase

.field-asterisk
  position relative
  top -2px
  margin-left 2px
  color $color-red
