@require '_mixins'

pd-row
  display block

.pd-row + .pd-row,
pd-row + pd-row
  margin-top 20px

.pd-row
  margin 0 10px * -1
  clearfix()
  &.pd-row-center
    text-align center
  &.pd-row-right
    text-align right
  & + .pd-row
    margin-top 20px
  for $size in (1..10)
    &.pd-row-offset-{$size}
      margin-top $size * 10px
