@require '_variables'
@require '_mixins'

theme($background-color, $color, $border-color)
  background-color $background-color
  color $color
  border-color $border-color
  .pd-toast-button-icon
    color $color

.pd-toast
  position relative
  padding 20px 40px 20px 20px
  font-size $font-size-xs
  border-width 1px
  border-style solid
  border-radius(4px)
  box-sizing(border-box)
  theme($color-grey-light, $color-grey-darker, $color-grey)
  &.pd-toast-danger
    theme($color-red-lighter, $color-red-dark, $color-red-light)
  &.pd-toast-success
    theme($color-green-lighter, $color-green-dark, $color-green-light)
  &.pd-toast-warning
    theme($color-yellow-lighter, $color-yellow-darker, $color-yellow-light)
  & + .pd-toast
    margin-top 20px

.pd-toast-button
  position absolute
  top 5px
  right 5px
  padding 0
  width 26px
  height 26px
  background-color transparent
  border 0
  cursor pointer
  webkit-appearance(none)
  +highlight()
    outline 0

.pd-toast-button-icon
  position relative
  top -3px
  font-size $font-size-lg

+breakpoint('xs')
  .pd-toast
    width 100%
